<!DOCTYPE html>
<html>
  <head>
    <title>MyBudget API</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css" integrity="sha256-9mbkOfVho3ZPXfM7W8sV2SndrGDuh7wuyLjtsWeTI1Q=" crossorigin="anonymous" />
  </head>

  <body>
    <div class="ui middle aligned grid" style="height: 100vh; width: 100%;">
      <div class="four wide column"></div>
      <div class="eight wide column">
        <div class="ui raised segment">
          <h2 class="ui center aligned header">Welcome to My Pets API</h2>
          <div class="ui clearing divider"></div>

          <div class="ui two column grid">
            <div class="center aligned column">
              <a href="{{repoUrl}}" target="_blank">
                <i class="massive black github link icon" title="Repository"></i>
              </a>
            </div>
            <div class="center aligned column">
              <a href="{{projDocsUrl}}" target="_blank">
                <i class="massive black react link icon" title="Web app"></i>
              </a>
            </div>
          </div>

          <div class="ui clearing divider"></div>
          <p class="ui center aligned header">{{version}}</p>
        </div>
      </div>
      <div class="four wide column"></div>
    </div>
  </body>
</html>